<!-- header partial -->
{{> header }}

    <!-- Fixed top navbar -->
    {{> topnavbar details_active=true }}

    <!-- Begin page content -->
    <div class="container">

{{> detailstabs apps_active=true }}

<p><a href="apps.html"><-- Back to app list</a></p>

<p>Details for {{details.CFBundleName}} (bundle identifier: {{details.CFBundleIdentifier}})</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
{{#each details}}
    <tr>
      <td>{{@key}}</td>
      <td>{{this}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

<!-- footer partial -->
{{> footer }}

