<!-- header partial -->
{{> header }}

    <!-- Fixed top navbar -->
    {{> topnavbar details_active=true }}

    <!-- Begin page content -->
    <div class="container">

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="index.html">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="apps.html">Apps</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Logs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Artifacts</a>
  </li>
</ul>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
<!--      <th>#</th> -->
      <th>Name</th>
      <th>Bundle Identifier</th>
      <th>Version</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
{{#each apps.details}}
    <tr>
<!--  <th scope="row">1</th> -->
      <td>{{CFBundleName}}</td>
      <td>{{CFBundleIdentifier}}</td>
      <td>{{CFBundleVersion}}</td>
      <td>{{ApplicationType}}</td>
    </tr>
{{/each}}
  </tbody>
</table>

<!-- footer partial -->
{{> footer }}

