<!-- header partial -->
{{> header }}

    <!-- Fixed top navbar -->
    {{> topnavbar details_active=true }}

    <!-- Begin page content -->
    <div class="container">

{{> detailstabs artifacts_active=true }}

<p>List of all artifacts</p>

<!-- footer partial -->
{{> footer }}

