<!-- header partial -->
{{> header }}

    <!-- Fixed top navbar -->
    {{> topnavbar community_active=true }}

    <!-- Begin page content -->
    <div class="container">

    <h2>Community</h2>
    <br />

    <h4>1. Contribute</h4>
    <p>Contribute non-PII telemetry to the community to enable crowdsourced comparisions</p>

    <h4>2. Compare</h4>
    <p>Determine if your telemetry ti consistent with the community (e.g. bootloader, app entitlements, etc.)or an anomaly.</p>

    <h4>3. Data Sources</h4>
    <p>Facilitate the development of third party integrations of new data sources.</p>

    <h4>4. Research</h4>
    <p>Enable community driven research, IOCs, etc.</p>


<!-- footer partial -->
{{> footer }}
