<!-- header partial -->
{{> header }}

    <!-- Fixed top navbar -->
    {{> topnavbar community_active=true }}

    <!-- Begin page content -->
    <div class="container">

    <p>This is where you can anonymously compare your device to similar devices</p>

<!-- footer partial -->
{{> footer }}
