<!-- header partial -->
{{> header }}

    <!-- Fixed top navbar -->
    {{> topnavbar diffs_active=true }}

    <!-- Begin page content -->
    <div class="container">

    <p>Here's where we will compare 2 (or maybe more) extractions</p>

<!-- footer partial -->
{{> footer }}
