<!-- header partial -->
{{> header }}

    <!-- Fixed top navbar -->
    {{> topnavbar issues_active=true }}

    <!-- Begin page content -->
    <div class="container">

    <p>This is where we'll highlight issues</p>

<!-- footer partial -->
{{> footer }}
