<!-- header partial -->
{{> headerPartial }}

    <!-- Fixed top navbar -->
    {{> topnavbarPartial issues_active=true }}

    <!-- Begin page content -->
    <div class="container">

    <p>This is where we'll highlight issues</p>

    </div>

<!-- footer partial -->
{{> footerPartial }}

