<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ios-triage report</title>

    <!-- Bootstrap core CSS -->
    <link href="./assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./assets/dist/css/sticky-footer-navbar.css" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">ios-triage</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Overview <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Device</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Apps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Artifacts</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h3 class="card-header">Device</h3>
        <div class="card-block">
          <h4 class="card-title">Device Summary</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h3 class="card-header">Apps</h3>
        <div class="card-block">
        <h4 class="card-title">App Summary</h4>
          <ul>
              <li>Total apps: {{summary.totalApps}}</li>
              <li>System apps: {{summary.systemApps}}</li>
              <li>User apps: {{summary.userApps}}</li>
              <li>Non-Apple Signed apps: {{summary.nonAppleSigner}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Produced by <a href="https://github.com/ahoog42/ios-triage/">ios-triage</a> (version: 0.0.1)</span>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="./assets/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./assets/dist/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

