    <!-- Tab navigation for details section -->

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {{#if overview_active}}active{{/if}}" href="index.html">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if device_active}}active{{/if}}" href="device.html">Device</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if apps_active}}active{{/if}}" href="apps.html">Apps</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if crashreports_active}}active{{/if}}" href="crashreports.html">Crash Reports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if pprofiles_active}}active{{/if}}" href="pprofiles.html">Provisioning Profiles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if artifacts_active}}active{{/if}}" href="artifacts.html">Artifacts</a>
  </li>
</ul>
