<html>
  <head>
    <link rel="stylesheet" href="/style.css"/>
    <title>ios-triage report</title>
 </head>

  <body>
    <h1>ios-triage report</h1>
    <ul class="todos">
      {{#each apps}}
        <li>{{this.name}} ({{this.bundleIdentifier}})</li>
      {{/each}}
    </ul>
    <p><a href="/">back</a></p>
  </body>
</html>
